image:
  registry: lscr.io/linuxserver
  repository: plex
  tag: "arm64v8-1.41.6"
pms:
  # the volume size to provision for the PMS database
  configStorage: 2Gi
  resources:
    limits:
      cpu: 4
      memory: 5.5Gi
    requests:
      cpu: 4
      memory: 5.5Gi
service:
  type: ClusterIP
  port: 32400
extraVolumeMounts:
  - name: treebeard
    mountPath: /mnt/
    readOnly: true
extraVolumes:
  - name: treebeard
    nfs:
      server: nfs-service.nfs.svc.cluster.local
      path: /treebeard
ingress:
  enabled: true
  url: plex.jacobheath.xyz
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
