apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-db
spec:
  instances: 1
  storage:
    size: 100Gi
  managed:
    roles:
    - name: nextcloud
      ensure: present
      login: true
      superuser: false
      passwordSecret:
        name: nextcloud-db-secret